<form [formGroup]="editForm" (submit)="editUser()">
  <h3 class=text-center>Edit User </h3>

  <img *ngIf="profilepic" [src]="profilepic" class="img-thumbnail" width="100" height="100"> 
  <label for="first_name">First Name</label>
  <input formControlName="first_name" id="first_name" />
  <app-validationmessage [control]="editForm.controls.first_name"></app-validationmessage>

 <label for="last_name">Last Name</label>
  <input formControlName="last_name" id="last_name" />
  <app-validationmessage [control]="editForm.controls.last_name"></app-validationmessage>



  <button type="submit" [disabled]="!editForm.valid">Edit</button>
</form>